---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css'

const pageTitle = 'Home Page'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>
			{pageTitle}
		</title>
	</head>
	<body>
		<Navigation />
		<h1>
			{pageTitle}
		</h1>
		<Footer />
		<script>
		document.querySelector('.hamburger')?.addEventListener('click', () => {
			document.querySelector('.nav-links')?.classList.toggle('expanded')
		})
		</script>
	</body>
</html>
